.modal {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  color: white;



  .close {
    margin-left: 5%;
    width: 95%;
    display: flex;
    justify-content: flex-end;

    span {
      color: chartreuse;
    }
  }

  .message {
    margin-top: 10px;
    font-size: larger;
  }

  mat-form-field {
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: column;

    mat-select {
      width: 100%;
    }
  }

  button {
    background-color: chartreuse;
    width: 30%;
    margin-left: 35%;
  }


}
