<div class="modal">
  <div class="close">
    <span class="material-icons">
      close
    </span>
  </div>

  <div class="message">
    <h3>Pease, leave a message and your achievement will be assigned soon.</h3>
  </div>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Achivements</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of achivementList" [value]="item.achName">{{item.achName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button mat-button>Send</button>
  </form>



</div>
