<mat-grid-list cols="10" rowHeight="140px" [gutterSize]="'15px'">
    <mat-grid-tile [colspan]="7" [rowspan]="1">
        <div class="hello">
            <h1>Good morning, <span class="user">{{user}}</span>!</h1>
            <h3>Take a look at your activities, standings, friends and more.</h3>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="5">2</mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <app-personal-achivements></app-personal-achivements>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <app-thank-you></app-thank-you>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <app-top-chart></app-top-chart>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <app-badges-small></app-badges-small>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan]="2">7</mat-grid-tile>
</mat-grid-list>