
<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened">sidenav

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar>
      <div class="sidebar">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
          <mat-icon>menu</mat-icon>
        </button>

        <span>GMFCTN</span>
      </div>

      <div class="nav">
        <app-nav></app-nav>
      </div>

      <div class="user">
        user
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
  
</mat-sidenav-container>


