.mat-toolbar{ 
    color: white;
    background-color:  rgb(34, 34, 34);
    margin: auto;
    width: 99%;
    // height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mat-sidenav-container{
    height: 100%;
    background-color: black;
}

.mat-sidenav{
    padding: 20px;
    background-color: rgb(29, 29, 29);
    width: 200px;
}

