<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">  
    <div class="sidebar-header">
      <span class="sidebar-title">GMFCTN!!!</span>  

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <app-sidebar-content></app-sidebar-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div class="sidebar">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
          <mat-icon>menu</mat-icon>
        </button>

        <span>GMFCTN</span>
      </div>

      <div class="nav">
        <app-nav></app-nav>
      </div>

      <div class="user">
        <app-user></app-user>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


