<div class="exoft-achievements">
  <div class="achievement-title">
    <h4>EXOFT ACHIEVEMENTS</h4>

    <div class="amount">80</div>
  </div>

  <div class="container-content">
    <div class="achievement-content" *ngFor='let user of users'>

      <div class="achievement-photo-name-time">
        <div class="pic" [style.background-image]='' (click)="onClick(user)">{{user.initials}}</div>
        <div class="name">{{user.firstName}} {{user.lastName}}</div>
        <div class="time">0 mins ago</div>
      </div>

      <div class="line">
        <div class="comment">Got %achievement-name% achievement</div>

        <div class="records">Records</div>
      </div>
      
    </div>
  </div>
</div>
