<div class="sidebar-content">
  <div class="user-info">
    <div class="user-pic" [style.background-image]='urlBackGroungPhoto'>{{nameInitial}}{{lastNameInitial}}</div>

    <div class="user-name">{{user?.firstName}} {{user?.lastName}}</div>

    <div class="edit-btns-group">
      <button mat-button (click)="onEditProfile()">Edit profile</button>
      <button mat-button (click)="onChangePassword()">Change password</button>
      <button mat-button>Log out</button>
    </div>

    <div class="amount-xp-badges">
      <h3>TOTAL: 3 Badges</h3>
      <h3>EXP: {{user?.xp}} XP</h3>
    </div>

    <div class="nav-buttons">
      <button mat-button routerLink="dashboard">
        Dashboard
      </button>

      <button mat-button routerLink="badges">
        Badges
      </button>
    </div>
  </div>
</div>
