.modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  color: white;

  .close {
    margin-left: 5%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    span {
      color: chartreuse;
      cursor: pointer;
    }
  }

  form{
      flex-direction: column;
      display: flex;
  }

  button {
    background-color: chartreuse;
    margin-top: 6%;
  }
}
