.header-achive {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;

  h4 {
    margin-top: 15px;
    color: white;
  }

  .mat-button {
    width: 90px;
    height: 40px;
    color: white;
    background-color: chartreuse;
  }
}

.achivements {
    margin-left: -10%;
  width: 110%;
  height: 80%;

  .achive {
    width: 110%;
    height: 25%;
    // background-color: aquamarine;  
    display: flex;
    justify-content: space-around;

    .pic {
      background-image: url('https://cdn4.iconfinder.com/data/icons/gamification-1/256/--02-512.png');
      background-size: 100%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #000;
    }

    .label-achive {
      margin-left: -4%;
    }

    .bonus {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: yellow;

      .coin {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: yellow;
      }
    }
  }
}
