<div class="header-achive">
    <h3>PERSONAL ACHIEVEMENTS</h3>
    <button mat-button color="primary">Request</button>
</div>

<div class="achivements">

    <div class="achive">
        <div class="pic"></div>

        <div class="label-achive">Exoft turbo power<br>0 mins ago</div>

        <div class="bonus">
            <div class="coin"></div>
            +15 xp
        </div>

    </div>

    <div class="achive">
        <div class="pic"></div>

        <div class="label-achive">Exoft turbo power<br>0 mins ago</div>

        <div class="bonus">
            <div class="coin"></div>
            +15 xp
        </div>

    </div>

    <div class="achive">
        <div class="pic"></div>

        <div class="label-achive">Exoft turbo power<br>0 mins ago</div>

        <div class="bonus">
            <div class="coin"></div>
            +15 xp
        </div>

    </div>
    <div class="achive">
        <div class="pic"></div>

        <div class="label-achive">Exoft turbo power<br>0 mins ago</div>

        <div class="bonus">
            <div class="coin"></div>
            +15 xp
        </div>
        
    </div>
    
</div>
