<div class="top-chart-content">
  <div class="top-chart-label">
    <h3>TOP CHART</h3>
  </div>

  <div class="top-chart-content">
    <div class="name-totalXP">
      <h4><u>Name______________Total XP</u></h4>
    </div>

    <div class="users">
      <div class="info">
        <div class="userproto" *ngFor='let user of users' (click)="onClick(user)">
          <div class="userpic" [style.background-image]=''>{{user.initials}}</div>
          <div class="username">{{user.firstName}} {{user.lastName}}</div>
          <div class="userXP">{{user.xp}}</div>
        </div>
      </div>

      <div class="graph" >
        <div class="graphproto" *ngFor='let user of users'>
          <div class="line" [style.width]="user.xp*5 + 'px'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
