.mat-button-toggle {
  background-color: #222222;
  color: whitesmoke;
  border-color: #222222
}

.lighter {
  margin-left: -11px;
  width: 140%;
  height: 4px;
  border-color: #222222
}

.mat-button-toggle-checked {
  .lighter {
    background-color: chartreuse;
  }
}
