<div class="challenges">
  <div class="challenges-title">
    <h4>CHALLENGES</h4>
    <button mat-button>Show more</button>
  </div>

  <div class="challenges-content">
    <ul>
      <li><span>Available</span>
        <div class="challenge1">
          <div class="challenge-pic"></div>
          <div class="challenge-title">
            <h4>57K bike</h4>
          </div>
          <div class="challenge-info">
            <p>93% of 57K complete</p><br>
            <p>05:20:00 Remaining</p>
          </div>
        </div>
      </li>
      <li>
        <span>Ended</span>
        <div class="challenge2">
            <div class="pic"></div>
            <div class="pic"></div>
            <div class="pic"></div>
            <div class="pic"></div>
            <div class="pic"></div>
        </div>
      </li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum itaque delectus culpa a ipsum officia facilis cupiditate! Consectetur itaque vero doloribus assumenda dolorem. Suscipit ullam culpa quae alias a.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum itaque delectus culpa a ipsum officia facilis cupiditate! Consectetur itaque vero doloribus assumenda dolorem. Suscipit ullam culpa quae alias a</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum itaque delectus culpa a ipsum officia facilis cupiditate! Consectetur itaque vero doloribus assumenda dolorem. Suscipit ullam culpa quae alias a</li>
    </ul>
  </div>
</div>
