.badges-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  .title-badges {
    width: 95%;
    margin-left: 5%;
  }

  .amount {
    margin-top: 50px;

    h1 {
      font-size: 100px;
      color: chartreuse;
    }
  }

  .comments {
    margin-left: 25px;
    margin-top: 50px;
    display: flex;
    width: 330px;
    justify-content: space-between;

    .coment {
      display: flex;
      align-items: center;
      width: 160px;

      .dot-green {
        margin-left: 8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: chartreuse;
      }
    }
  }
}
