.top-chart-label {
  width: 500px;
}

.top-chart-content {
    

  .name-totalXP {
    color: darkgreen;
  }

  .users {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: stretch;
    width: 500px;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .userproto{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .userpic {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-size: 100%;
          }
      
          .username {
            width: 55px;
            height: 40px;
            font-weight: lighter;
            font-size: smaller;
          }
      
          .userXP{
              margin-left: 70px;
          }
    }

    .graph {
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-around;
        margin-left: 20px;
        
        .graphproto{
            
        }

        .line{
            height: 20px;
        }
    }

    

    
  }
}
