<div class="total-achievement">
    <div class="title">
        <h3>TOTAL ACHIEVEMENTS AND EXP</h3>
    </div>

    <div class="achievement-content">
        <div class="exp-amount">
            <h1>70</h1><br>
            <h2>EXP</h2>
        </div>

        <div class="badges-amount">
            <h1>4</h1>
            <h2>BADGES</h2>
            <div class="coment">
                <p>21% more than average</p>
                <p>+5 new this month</p>
            </div>
        </div>
    </div>
</div>