.modal {
  color: white;
  width: 500px;

  .modal-header {
    display: flex;
    position: absolute;
    top: 29%;

    .close {
      cursor: pointer;
    }

    h3 {
      margin-left: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: 30px;
    background-color: rgb(115, 191, 11);
  }
}
