<div class="modal">
  <div class="modal-header">
    <div class="close">
      <mat-icon class="material-icons" (click)="onClose()">
        arrow_back
      </mat-icon>
    </div>

    <h3>Change password</h3>
  </div>

  <form [formGroup]="changePasswordForm">
    <mat-form-field appearance="fill">
      <mat-label>OLD PASSWORD</mat-label>
      <input matInput formControlName="oldPassword">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>NEW PASSWORD</mat-label>
      <input matInput formControlName="newPassword">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CONFIRM PASSWORD</mat-label>
      <input matInput formControlName="confirmPassword">
    </mat-form-field>

    <button mat-button (click)="onSubmit()" [disabled]="!changePasswordForm.valid">SAVE CHANGES</button>
  </form>
</div>
